
html {
    /*Define o tamanho base da fonte para 10px (10px = 0,625rem, logo, 1rem = 10px)*/
    font-size: 62.5%;

    scroll-behavior: smooth;
    max-width: 100vw;
}

body {
    box-sizing: border-box;

    max-width: 192rem;

    min-height: 100vh;
    min-width: 32rem;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    font-size: 1.6rem;
    overflow-y: scroll;

    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
}

.logo {
    margin: 2rem 0rem;
    border: 0.2rem solid purple;
}

nav.menu {
    max-width: 192rem;
    min-width: 32rem;

    height: 3rem;
    padding: 1rem;
    margin: 2rem 2rem;

    border-radius: 4rem;

    background-color: blueviolet;
}