
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    max-width: 100vw;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav.menu {
    max-width: ;
}